version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
      - "80:5000"
      # - "443:5000" 

    environment:
      - DB_NAME=vulnerable_bank
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - XSS_PROTECTION_ENABLED=${XSS_PROTECTION_ENABLED:-false}
      - SECURITY_HARDENING_ENABLED=${SECURITY_HARDENING_ENABLED:-false}
      - FLASK_SECRET_KEY=${FLASK_SECRET_KEY:-secret123}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY:-secret123}
      - ALLOWED_CORS_ORIGINS=${ALLOWED_CORS_ORIGINS:-}
    depends_on:
      - db
    volumes:
      - ./static/uploads:/app/static/uploads
    networks:
      - vuln_network

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=vulnerable_bank
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - vuln_network

volumes:
  postgres_data:

networks:
  vuln_network:
    driver: bridge